<footer>
  <small>
    This is just one the resources I share with the world, say hello at <a href="https://twitter.com/alex_arriaga_m">@alex_arriaga_m</a>!
  </small>
</footer>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min.js"></script>#}